$player-width: 648px;
$progress-bar-height: 3px;

.text-to-speech-player-outer {
    position: fixed;
    bottom: 0;
    background-color: var(--white);
    width: 100%;
    @include floating();

    .text-to-speech-player-inner {
        width: $player-width;
        background-color: var(--white);
        border-top: $progress-bar-height solid rgba(217, 226, 231, 0.6);
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .progress-bar {
            height: $progress-bar-height;
            max-width: $player-width;
            width: 100%;
            background-color: unset;

            position: absolute;
            top: 0;
            z-index: 0;

            .progress-bar-progress {
                height: $progress-bar-height;
                background: var(--gradient);
            }
        }

        .play-pause-button {
            background-color: white !important;
            width: 44px;
            height: 44px;
            box-shadow: var(--box-shadow);

            &:hover {
                box-shadow: var(--box-shadow);
            }

            &.play-icon {
                background: url(/img/icon_24_play_filled.svg) 60% 50% no-repeat;
            }

            &.pause-icon {
                background: url(/img/icon_24_pause_filled.svg) 52.5% 60% no-repeat;
            }
        }

        .player-info {
            padding-left: 16px;

            display: flex;
            flex: 2;
            flex-direction: row;
            align-self: center;
            align-items: baseline;

            .article-title {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .article-title,
            .article-clock {
                font-size: 2.2em;
            }

            .chapter-id {
                color: var(--main);
                font-weight: 700;
                font-size: 1.9em;
            }

            & h3 {
                flex: 8;
            }
            & h4 {
                flex: 1;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (max-width: 648px) {
    .text-to-speech-player-outer {
        .text-to-speech-player-inner {
            width: 100%;
            padding-bottom: 7px;
            border-top: 1px solid rgba(217, 226, 231, 0.6);

            .player-info {
                align-items: center;
                & h3 {
                    flex: 5;
                }
                .article-title,
                .article-clock {
                    font-size: 2.1em;
                }
            }

            .play-pause-button {
                margin-right: 68px;
            }
        }
    }
}
