// Navigation
nav {
    display: block;
    width: auto;
    height: 48px;

    a {
        display: inline-block;

        line-height: 24px;
        padding: 12px;

        font-family: $body;
        font-weight: bold;
        font-size: 1.75em;
        line-height: 1.4em;
        color: var(--main);
        letter-spacing: -0.2px;
        text-decoration: none;
    }
}

// Books
.sidebar{
	@include floating();
	border-radius: 12px;
	padding: 12px 12px 4px 12px;
	width: 350px;
	height: calc(100% - 116px);
	background-color: var(--white);
	right: -350px;
	bottom: 16px;
	top: 116px;
	position: fixed;
	z-index: 10001;

	overflow-y: scroll;

	-webkit-overflow-scrolling: touch;

	@include transition(all, .3s);

	@media only screen and (max-width: 648px) {
		@include transition(all, .3s);
		width: 100%;
		height: 75%;
		left: 0px;
		top: 100%;
		background-color: var(--base5);
		padding: 12px 12px 64px 12px;
	}

	.section-header{
		position: -webkit-sticky;
  		position: sticky;
  		border-radius: 12px 12px 0px 0px;
		top: -12px;
		margin: -12px  -12px 0px -12px;
		background-color: var(--white);
		padding: 12px 12px 8px 12px;
		z-index: 20;
		border-bottom: 1px solid var(--base4);

		h5{
			color: var(--base1);
			span{
				color: var(--base3);
			}
		}

		@media only screen and (max-width: 648px) {
			border-bottom: 0px;
			@include floating();
		}
	}
}
.button-circular.main.toggle-sidebar{
	right: 7px;
	top: 108px;
	position: fixed;
	z-index: 10002;
	background: url("../assets/icons/icon_24_chapters.svg") center center no-repeat, var(--gradient); 

	@include transition(all, .3s);

	@media only screen and (max-width: 648px) {
		top: calc(100% - 66px);
	}

	@media only screen and (device-width : 375px) 
		and (device-height : 812px) 
		and (-webkit-device-pixel-ratio : 3) { 
			top: calc(100% - 81px);
	}
}

.player-on .button-circular.main.toggle-sidebar{
	@media only screen and (max-width: 648px) {
		top: calc(100% - 56px);
	}
	
	@media only screen and (device-width : 375px) 
		and (device-height : 812px) 
		and (-webkit-device-pixel-ratio : 3) { 
			top: calc(100% - 74px);
	}
}

.button-circular.secondary.share{
	right: 62px;
	top: 108px;
	position: fixed;
	z-index: 10002;
	background: url("../assets/icons/icon_24_share_white.svg") 45% center no-repeat, var(--base3); 

	@include transition(all, .3s);
	
	@media only screen and (max-width: 648px) {
		right: 7px;
		top: calc(100% - 109px);
	}

	@media only screen and (device-width : 375px) 
		and (device-height : 812px) 
		and (-webkit-device-pixel-ratio : 3) { 
			top: calc(100% - 124px);
	}
}

.sidebar-open{
	@media only screen and (max-width: 648px) {
		height: 100%;
		overflow: hidden;
		position: absolute;
	}
	.button-circular.main.toggle-sidebar{
		background: url("../assets/icons/icon_24_chevron-blue.svg") center center no-repeat, var(--white);
		@include interactable(); 
		right: 20px;
		top: 116px;
		height: 24px;
		width: 24px;

		@media only screen and (max-width: 648px) {
			top: calc(100% - 74px);
			width: 40px;
			height: 40px;
			right: 7px;
			background: url("../assets/icons/icon_24_close.svg") center center no-repeat, var(--gradient);
		}
	}
	.button-circular.secondary.share{
		background: url("../assets/icons/icon_24_share_blue.svg") 45% center no-repeat, var(--white);
		@include interactable(); 
		right: 50px;
		top: 116px;
		height: 24px;
		width: 24px;

		@media only screen and (max-width: 648px) {
			top: calc(100% - 109px);
			width: 40px;
			height: 40px;
			right: 7px;
			background: url("../assets/icons/icon_24_share_white.svg") 45% center no-repeat, var(--base3);;
		}
	}
	.sidebar{
		right: 16px;

		@media only screen and (max-width: 648px) {
			@include transition(all, .3s);
			bottom: 0px;
			top: 25%;
			border-radius: 12px 12px 0px 0px;

			.section-header{
				padding: 14px 12px 14px 12px;
			}
		}
	}
	.overlay{
		visibility: visible!important;
		opacity: 1!important;

		@media only screen and (max-width: 648px) {
			top: 0 !important;
		}
	}
	.reading-view{
		padding-right: 366px;

		@media only screen and (max-width: 1024px) {
			padding-right: 16px;
			margin: 0px auto;
		}
		@media only screen and (max-width: 748px) {
			padding-right: 16px;
		}
		@media only screen and (max-width: 648px) {
			pointer-events: none;
			user-select: none;
		}
	}
}
